#brand {
    border: 1px solid black;

    box-sizing: border-box;
    box-shadow: 8px;
    margin-left: 4px;
}

#price {
    border: 1px solid black;
    margin-top: 2px;
    margin-left: 4px;
}

#categorey {
    border: 1px solid black;
    margin-top: 2px;
    margin-left: 4px;
}



#cont {
    display: inline-flex;
}


#img {
    width: 20vw;
    height: 35vw;
    display: inline-flex;
    border-bottom: double;
    border-radius: 1vw;
}

#content {
    flex-wrap: wrap;
    display: flex;
    margin: 10px;
    border: outset;
}

.content {
    width: 20vw;
    margin: 2vw;
    border-style: groove;
    border-radius: 1vw;
}

#sortby {
    text-align: -webkit-right;

}

p {
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: baseline;
    margin-left: 1vw;
}

#delprice {
    margin-left: 4px;
    margin-right: 4px;
}

#actualprice {
    font-size: 4vw;
}

#discount {
    color: green;
    font-weight: bolder;
    font-size: 2vw;
}

#sortby {
    border-style: outset;
}

#logo-img {
    height: 4vw;
    width: 4vw;
    vertical-align: middle;
    margin-left: 10vw;
    margin-right: 8vw;
}

#btn {
    margin-right: 20vw;
}

#notification {
    height: 2vw;
    width: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 2vw;
    vertical-align: text-bottom;
}

#user {
    height: 4vw;
    width: 4vw;
    border-radius: 2vw;
    vertical-align: middle;
}

#star {
    color: rgb(247, 247, 5);
    font-size: 3vw;
    font: bold;
    flex-wrap: wrap;
    display: flex;
}

#search {
    width: 10vw;
}

#filter {
    width: 20vw;
    height: 25vw;
    font-size: 2vw;
}

#head {
    border-bottom: solid;
    background-color: aliceblue
}

#cat {
    font-size: 4vw;
}